extends layout
block content
  if user
    .row
      .col-md-10
        .panel.panel-default
          .panel-heading
            | 欢迎：#{user.username} 进入游戏聊天室
          ul.list-group#chatPanel
          .panel-footer
            .input-group
              input.form-control#inputMessage(type='text',placeholder='输入内容')
              span.input-group-btn
                button.btn.btn-default(type='button',onclick='sendMsg();') 发送
      .col-md-2
        | 在线玩家
  style.
    #chatPanel{
      height: 400px;
      overflow-y: scroll;
    }
    .chatArea {
      height: 100%;
    }
  script.
    $('#nav_user_chatroom').addClass('active');
  script(src='/socket.io/socket.io.js')
  script.
    function getMsg(data){
        addMsg(data);
    }
    function sendMsg(){
      if($('#inputMessage').val()){
        socket.emit('new web message', { username: '#{user.username}', userID: '#{user._id}', ip: '#{req.ip}', msg: $('#inputMessage').val(), time: new Date().getTime() });
        $('#inputMessage').val('');
        $('#inputMessage').focus();
      }
    }
    function addMsg(data){
      var _date = new Date(data.time||Number(data.meta.createAt)||new Date().getTime());
      var time_str = _date.getHours() + ':' + _date.getMinutes() + ':' + _date.getSeconds();
      if(data.username == "#{user.username}"){
        $('#chatPanel').append("<li class='list-group-item' style='text-align:right;'>"+ data.username + " : " + data.msg + "<span style='margin-left:10px;color:gray;'>"+time_str+"</span>" + "</li>");
      }else{
        $('#chatPanel').append("<li class='list-group-item'>" + "<span style='margin-right:10px;color:gray;'>"+time_str+"</span>" + data.username + " : " + data.msg +"</li>");
      }
      $('#chatPanel')[0].scrollTop = $('#chatPanel')[0].scrollHeight;
    }http://localhost:3000/
    $(window).keydown(function (event) {
      // Auto-focus the current input when a key is typed
      if (!(event.ctrlKey || event.metaKey || event.altKey)) {
        $('#inputMessage').focus();
      }
      // When the client hits ENTER on their keyboard
      if (event.which === 13) {
        sendMsg();
      }
    });
    var socket = io();
    socket.on('web message', function(data){
        addMsg(data);
      });
    socket.on('posted message', function(data){
        data.msg = data.message;
        addMsg(data);
      });
    socket.on('user join', function(data){
        $('#chatPanel').append("<li class='list-group-item' style='text-align:center;'>"+ data.username + " : " + data.msg +"</li>");
        $('#chatPanel')[0].scrollTop = $('#chatPanel')[0].scrollHeight;
      });
    socket.on('user left', function(data){
        $('#chatPanel').append("<li class='list-group-item' style='text-align:center;'>"+ data.username + " : " + data.msg +"</li>");
        $('#chatPanel')[0].scrollTop = $('#chatPanel')[0].scrollHeight;
      });
    socket.emit('login', { username: '#{user.username}', userID: '#{user._id}' });
    // 如果未登录，就先登录再发送，其中data是未登录前发送到服务器，并由服务器又原样返回的
    socket.on('nologin', function(data){
        socket.emit('login', { username: '#{user.username}', userID: '#{user._id}' });
        socket.emit('new web message', data);
      });