extends layout
block content
  .container-fluid(style='margin-bottom:10px;padding-right: 0px;padding-left: 0px;')
    form#q_form(method='get',action='?')
      if _q.username
        .col-md-3.alert.alert-info.alert-dismissible(role='alert',style='margin-bottom: 0px;padding-top: 5px;height:34px;')
          button.close(type='button',data-dismiss='alert',aria-label='Close')
            span#q_user_close(aria-hidden='true') &times;
          strong #{_q.username}
        input#q_user_id(type='hidden',name='u',value=_q.user)
      .col-md-4
        .input-group
          input.form-control(type='text',name='q',placeholder='要搜索的消息...',value=_q.q)
          span.input-group-btn
            button.btn.btn-default(type='submit') 搜索
  .table-responsive
    table.table.table-bordered
      tr.success
        td(width='151px') 时间
        td(width='120px') 用户名
        td(width='auto') 消息
        td(width='110px') IP地址
        td(width='80px') X
        td(width='50px') Y
        td(width='80px') Z
      each log in logs
        tr
          td #{ time2string(log.meta.createAt) }
          td
            if log.user
              a(href='/user/commandlog?u=#{ log.user._id }') #{ log.user.username }
          td #{ log.message }
          td #{ log.hostaddress }
          td #{ Math.round(log.meta.location.x*10)/10 }
          td #{ Math.round(log.meta.location.y*10)/10 }
          td #{ Math.round(log.meta.location.z*10)/10 }
    include ../include/_paginate
  script.
    $('#nav_user_commandlog').addClass('active');
    $('#q_user_close').on('click',function($this){
        $('#q_user_id').remove();
        $('#q_form').submit();
      });
