extends index
block rightContent
  if user
    h1 登录名：#{user.username}
    div(style='padding-left:20px;')
      p
        if(user.online)
          | 在线状态：在线
        else
          | 在线状态：离线
      p.
        上次登录时间： #{ time2string(user.meta.lastloginAt) }
      p.
        上次登录IP： #{ user.meta.lasthostaddress }
      p.
        上次登录世界： #{ user.world }
      p.
        上次登录坐标：
      p           x:  #{ Math.round(user.meta.lastlocation.x*10)/10 }
      p           y:  #{ Math.round(user.meta.lastlocation.y*10)/10 }
      p           z:  #{ Math.round(user.meta.lastlocation.z*10)/10 }
  script.
    $('#nav_user_info').addClass('active');