extends ../layout
block content
  .container
    h1 所有用户列表
    .table-responsive
      table.table.table-bordered.table-hover
        tr.success
          td 用户名
          td 在线状态
          td 上次登录时间
          td 上次登录IP
          td X
          td Y
          td Z
        each u in users
          tr
            td #{u.username}
            td
              if u.online
                | 在线
              else
                | 离线
            td #{ helper.time2string(u.meta.lastloginAt) }
            td #{ u.meta.lasthostaddress }
            td #{ Math.round(u.meta.lastlocation.x*10)/10 }
            td #{ Math.round(u.meta.lastlocation.y*10)/10 }
            td #{ Math.round(u.meta.lastlocation.z*10)/10 }
    include ../include/_paginate
  script.
    $('#nav_user_list').addClass('active');